<h1>Posts#new</h1>
<p>Find me in app/views/posts/new.html.erb</p>

<%= example_form_with model: Post.new do |form| -%>
  <%= form.text_field :title -%>
  <%= form.textarea :body -%>
  <%= form.time_field :published_on -%>
<% end -%>
